/* @import url('../THEHIVE/src/index.css'); */
.AddItemContainer{
    width: 330px;
    height: 301px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.groupItems{
    width: fit-content;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AddItemContainer input{
    width: 300px;
    height: 37px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid rgb(216, 216, 216);
}

#select{
    width: 136.31px;
    height: 34px;
}

.AddItemContainer button{
    width: 300px;
    height: 37px;
    border-radius: 10px;
}

.closeIcon{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}