@import url('../THEHIVE/src/index.css');
.searchWrap{
    /* width: 260px; */
    /* height: 34px; */
    position: relative;
    /* border: 1px solid green; */
    padding: 10px;
}
.search{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #E7E3DD;
    position: relative;
    background: none;
}

.searchIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    pointer-events: none;
}

.search:focus{
    border: 0.5px solid #CACACA;
    outline: none;
}