.searchWrap{
    position: relative;
    padding: 10px;
}
.search{
    width: 100%;
    border-radius: 50px;
    border: 1px solid #E7E3DD;
    position: relative;
    background: none;
    padding: 0 20px 0 40px;
}

.searchIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}

.search:focus{
    border: 0.5px solid #CACACA;
    outline: none;
}