@import url('../THEHIVE/src/index.css');
.button{
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.3s;
}

.hoverDisabled {
    background: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

