@import url('../THEHIVE/src/index.css');
.container{
    height: 70px;
    width: 176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: var(--white);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
    padding-right: 20px;
    gap: 5px;
}

.imageContainer{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 20px;
}

img{
    height: 18px;
    width: 18px;
    margin:0 0 2px 0;
}

.descriptionAmount{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
    width: 100px;
}

#description{
    font-size: 13px;
    color: #6B7280;
}

#amount{
    font-weight: bold;
    width: 100%;
    color: #111827;
}