@import url('../THEHIVE/src/index.css');
.logo{
    width: 77.46px;
    height: 60.89px;
}
.Burgerlogo{
    width: 34.62px;
    height: 28.99px;
    margin-top: 30px;
}

.logoContainer{
    width: 125px;
    display: flex;
    flex-direction: row;
    border: 1px solid rebeccapurple;
    justify-content: space-between;
    align-items: center;
}