td{
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.tableHead{
    background-color: grey;
    margin: 0;
}

th{
    text-align: start;
    padding: 10px 0 10px 20px;
    border: 1px solid blue;
}

table{
    background-color: white;
    width: 100%;
    margin-top: 50px;
    border-radius: 0 0 0 20px;
    height: 300px;
}

.mealCategory span{
    width: 105px;
    height: 27px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    padding: 15px;
}

.shawarma{
    background-color: hsla(29, 100%, 49%, 16%);
    width: 97px;
    height: 27px;
    color: #FC7A00;
}

.burger{
    background-color: hsl(29, 100%, 50%, 16%);
    color: var(--primary-color);
   
}

.pasta{
    background-color: hsla(113, 100%, 45%, 16%);
    /* background: red; */
    color: #1BE800;
}

.sandwich{
    background-color: hsla(225, 76%, 53%, 16%);
    color: #2D5BE2;
}