@import url('./index.css');

header{
  display: flex;
  width: 100%;
  border: 1px solid red;
  gap: 163px;
}
.dashboard{
  display: flex;
  gap: 90px;
}

main{
  width: 100%;
  border: 1px solid purple;
  margin-right: 132px;
  height: fit-content;
  position: relative;
}

.filter{
  display: flex;
  gap: 38px;
}

.controlMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  height: 60px;
  padding: 0 36px;
  margin-top: 26px;
  border-radius: 15px;
}

.AddItem{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer{
  width: 100%;
  /* border: 1px solid brown; */
  margin: 0 132px 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50px;
}

.AdminInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 319px;
  height: 139px;
  background-color: var(--secondary-color);
  /* border: 1px solid orangered; */
}

.footerContainer{
  display: flex;
  /* border: 1px solid green; */
  align-items: start;
  gap: 95px;
  height: 139px;
  margin-top: 36px;
}