:root{
  --primary-color: #FF0000;
  --secondary-color: #ffffff;
  --green: green;
  --purple: purple;
  --white: #ffffff;
  --grey: #676767;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pontano Sans', sans-serif;
}
